@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Menu Session</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionSalarios">Session salarios</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionEmpleados">Session empleados</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionEmpleadosOk">Session empleados OK</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Empleados" asp-action="SessionEmpleadosV4">Session empleados V4</a>
    </li>
</ul>